<list-cell>
    <img src={props.src} alt={props.title}/>
    <div class="movie-info">
        <h3>{props.title}</h3>
        <span class="yellow">{props.rate}</span>
    </div>
      <span class="genre">{props.genre}</span>
</list-cell>