<page-choice class="select-page">
	<a href="#" class="previous round" onclick="firstPage()">&#8249;&#8249;</a>
    <a href="#" class="previous round" onclick="previousPage()">&#8249;</a>
	<h4> {props.current}/{props.max} </h4>
	<a href="#" class="next round" onclick="nextPage()">&#8250;</a>
	<a href="#" class="previous round" onclick="lastPage()">&#8250;&#8250;</a>
</page-choice>